:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-p-0: var(--color-black);
  --color-p-5: #160041;
  --color-p-10: #22005D;
  --color-p-15: #2D1067;
  --color-p-20: #381E72;
  --color-p-25: #432B7E;
  --color-p-30: #4F378A;
  --color-p-35: #5B4397;
  --color-p-40: #6750A4;
  --color-p-50: #8069BF;
  --color-p-60: #9A83DB;
  --color-p-70: #B69DF7;
  --color-p-80: #CFBCFF;
  --color-p-90: #E9DDFF;
  --color-p-95: #F6EEFF;
  --color-p-98: #FDF7FF;
  --color-p-99: #FFFBFF;
  --color-p-100: var(--color-white);

  --color-s-0: var(--color-black);
  --color-s-5: #130E20;
  --color-s-10: #1E192B;
  --color-s-15: #282336;
  --color-s-20: #332D41;
  --color-s-25: #3E384D;
  --color-s-30: #4A4459;
  --color-s-35: #564F65;
  --color-s-40: #625B71;
  --color-s-50: #7B738B;
  --color-s-60: #958DA5;
  --color-s-70: #B0A7C0;
  --color-s-80: #CCC2DC;
  --color-s-90: #E8DEF9;
  --color-s-95: #F6EEFF;
  --color-s-98: #FDF7FF;
  --color-s-99: #FFFBFF;
  --color-s-100: var(--color-white);

  --color-t-0: var(--color-black);
  --color-t-5: #240612;
  --color-t-10: #31101D;
  --color-t-15: #3D1B27;
  --color-t-20: #4A2532;
  --color-t-25: #56303D;
  --color-t-30: #633B48;
  --color-t-35: #704654;
  --color-t-40: #7E5260;
  --color-t-50: #996A78;
  --color-t-60: #B58392;
  --color-t-70: #D29DAC;
  --color-t-80: #EFB8C8;
  --color-t-90: #FFD9E3;
  --color-t-95: #FFECF0;
  --color-t-98: #FFF8F8;
  --color-t-99: #FFFBFF;
  --color-t-100: var(--color-white);

  --color-e-0: var(--color-black);
  --color-e-5: #2D0002;
  --color-e-10: #410004;
  --color-e-15: #540006;
  --color-e-20: #65090E;
  --color-e-25: #751617;
  --color-e-30: #852221;
  --color-e-35: #952E2B;
  --color-e-40: #A53A36;
  --color-e-50: #C5524C;
  --color-e-60: #E66A63;
  --color-e-70: #FF8981;
  --color-e-80: #FFB3AD;
  --color-e-90: #FFDAD7;
  --color-e-95: #FFEDEB;
  --color-e-98: #FFF8F7;
  --color-e-99: #FFFBFF;
  --color-e-100: var(--color-white);

  --color-n-0: var(--color-black);
  --color-n-4: #140C0B;
  --color-n-5: #111111;
  --color-n-6: #1A1110;
  --color-n-10: #1C1B1C;
  --color-n-12: #271D1C;
  --color-n-15: #262526;
  --color-n-17: #322827;
  --color-n-20: #313030;
  --color-n-22: #3D3231;
  --color-n-25: #3C3B3B;
  --color-n-30: #484646;
  --color-n-35: #545252;
  --color-n-40: #605E5E;
  --color-n-50: #797676;
  --color-n-60: #939090;
  --color-n-70: #ADAAAA;
  --color-n-80: #C9C6C5;
  --color-n-90: #E5E1E1;
  --color-n-92: #F6E4E2;
  --color-n-94: #FCEAE8;
  --color-n-95: #F4F0EF;
  --color-n-96: #FFF0EF;
  --color-n-98: #FDF8F8;
  --color-n-99: #FFFBFF;
  --color-n-100: var(--color-white);

  --color-nv-0: var(--color-black);
  --color-nv-5: #111112;
  --color-nv-10: #1C1B1C;
  --color-nv-15: #262526;
  --color-nv-20: #313031;
  --color-nv-25: #3C3B3C;
  --color-nv-30: #484647;
  --color-nv-35: #545253;
  --color-nv-40: #605E5F;
  --color-nv-50: #797677;
  --color-nv-60: #939091;
  --color-nv-70: #AEAAAB;
  --color-nv-80: #C9C5C6;
  --color-nv-90: #E6E1E2;
  --color-nv-95: #F4F0F0;
  --color-nv-98: #FDF8F9;
  --color-nv-99: #FFFBFF;
  --color-nv-100: var(--color-white);
}
