.DS_Store
node_modules
/dist

/tests/e2e/videos/
/tests/e2e/screenshots/


# local env files
.env.local
.env.*.local

# Log files
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.reports
.nyc_output
coverage
cypress
dist
dev-dist
.turbo
/.idea
.cypress_v8_coverage/
/ui/dog-trainer-library/build-storybook.log

*storybook.log
