.floating-toggle-circle {
    position: fixed;
    right: var(--unit-2);
    bottom: var(--unit-2);
}

.floating-toggle-circle .atom-svg-icon {
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
    display: block;
}