.event-exercises-section__exercises--actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.event-exercises-section__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
