.scores-competitor-pre-label {
    display: flex;
    align-items: center;
    gap: var(--unit-1);
}

.scores-competitor-pre-label img {
    width: auto;
    height: var(--unit-2);
    flex-shrink: 0;
}

.scores-competitor-pre-label .country-flag {
    flex-shrink: 0;
}

.scores-competitor-pre-label__seen--hidden {
    visibility: hidden;
}