@import "colors/tokens.css";
@import "sizes/primitives.css";
@import "text/index.css";
@import "../../../node_modules/flag-icons/css/flag-icons.min.css";

html {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

body {
    background: var(--background);
    color: var(--text-primary);
}