@import "variables/colors/tokens.css";

html {
  font-family: "Times New Roman", Times, serif;
}

body {
  background: var(--light);
  color: var(--dark);
}

body.dark {
  background: var(--dark);
  color: var(--light);
}
