.story-badge {
    background-color: rgb(255, 71, 133);
    color: white;
    padding: 2px 4px;
    text-align: center;
    border-radius: 20px;
    margin-left: 4px;
    font-size: 0.6rem;
    font-weight: bold;
}
