.stage-card__main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--unit-2);
}

.stage-card__notifications {
    display: flex;
    align-items: center;
}

.stage-card__meta {
    display: flex;
    flex-direction: column;
}

.stage-card__actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stage-card__events-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.stage-card__events-content--info {
    display: flex;
    gap: var(--unit-1);
}

.stage-card__events-content--enrollment {
    display: flex;
    flex-direction: column;
    gap: var(--unit-05);
    align-items: flex-end;
}