.event-exercises-section__exercises--actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.event-exercises-section__header {
    display: flex;
    justify-content: space-between;
}

.exercise-editor-form {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}

.exercise-editor-form__actions {
    display: flex;
    padding-top: var(--unit-2);
    justify-content: flex-end;
}