.stage-detail__content--events {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stage-detail__content--event-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}