.competition-card__main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--unit-2);
}

.competition-card__status {
    display: flex;
    align-items: center;
}

.competition-card__content {
    display: flex;
    gap: var(--unit-1);
    flex-direction: column;
}

.competition-card__stages {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.competition-card__stages--info {
    display: flex;
    gap: var(--unit-1);
}
