.obdx-collection-detail__competitor {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: var(--unit-2);
}

.obdx-collection-detail__discipline {
    display: flex;
    gap: var(--unit-05);
    align-items: center;
}