.stage-detail__content--events > :first-child {
    padding-bottom: var(--unit-1);
}

.stage-detail__content--events {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stage-detail__content--event-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stage-detail__header {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}

.stage-detail__header--info {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}