.page {
    display: flex;
    flex-direction: column;
    gap: var(--unit-2);
    padding-bottom: calc(var(--unit-10) + var(--unit-3));
}

.page__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--unit-1);
}

.page__title {
    margin: 0;
    color: var(--text-primary);
    font-size: var(--text-heading-sm);
    line-height: var(--text-heading-line-height);
    font-weight: var(--font-weight-medium);
}

.page__actions {
    display: flex;
    align-items: center;
    gap: var(--unit-1);
}
