.stage-info {
    display: flex;
    flex-direction: column;
    gap: var(--unit-2);
}

.stage-info__title--status {
    display: flex;
    gap: var(--unit-1);
    align-items: center;
}

.stage-info__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.stage-info__events {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}

.stage-info__event--item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--unit-1);
}

.stage-info__event--header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: var(--unit-1);
}

.stage-info__event--enrollment {
    display: flex;
    gap: var(--unit-1);
    align-items: end;
}

.stage-info__competitors {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}

.stage-info__competitor {
    display: flex;
    flex-wrap: wrap;
    gap: var(--unit-1);
    align-items: baseline;
}

.stage-info__enroll-form {
    display: flex;
    flex-direction: column;
    gap: var(--unit-2);
}

.stage-info__enroll-form-actions {
    padding-top: var(--unit-1);
    display: flex;
    width: 100%;
    justify-content: space-between;
}
