.competition-info {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
    container-type: inline-size;
}

.competition-info .form-grid {
    max-width: calc(var(--unit-10) * 8);
}

.competition-info__view {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}

.competition-info__view--status {
    display: flex;
    gap: var(--unit-1);
    align-items: center;
}

.competition-info__view--title {
    display: flex;
    gap: var(--unit-1);
    align-items: center;
}

