.competition-info {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}

.competition-info__view {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}

.competition-info__view--status {
    display: flex;
    gap: var(--unit-1);
    align-items: center;
}

.competition-info__form {
    display: flex;
    flex-direction: column;
    gap: var(--unit-1);
}
